html
{
  background:rgb(0,89,167);
  color:black;
  text-decoration:none;
  font-family: "Sirivennela", system-ui;
}
header
{
  position:sticky;
  z-index:10;
  top:0;
  background-color:#D9DCEB51;
  background-image:url('flytogheter.png');
  background-position:left;
  background-repeat:no-repeat;
  background-size:10rem;
  width:100%;
  height:7rem;
  text-align:center;
}
header div
{
  display:inline-block;
  margin-top:1rem;
  text-align:center;
}
header h1
{
  position:relative;
  font-size:2.5rem;
  margin-bottom:1rem;
  text-align:center;
}
header p
{
  font-size:1.5rem;
  margin-bottom:1rem;
  text-align:center;
  position:relative;
}
header a
{
  position:absolute;
  width:10rem;
  height:7rem;
  left:0;
  color:transparent;
}
.promos
{
  margin-top:2rem;
  position:relative;
  justify-self:center;
  border-radius:2rem;
  width:97%;
  height:20rem;
  background-color:#D9DCEB51;
}
#promo
{
  justify-self:center;
  display:inline-block;
  border-radius:2rem;
  width:97%;
  height:90%;
  margin:1rem 1rem;
}
